#main flow
ffmpeg-python
selenium
torch
numpy
python-dotenv
#train model req
tflite-runtime
tensorflow
tqdm
opencv-python
imageio
git+https://github.com/tensorflow/docs
ipympl
moviepy

